html {
  box-sizing: border-box;
  font-size: 10px;
  background: #27FFD6;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 8rem;
  line-height: 1;
  margin-top: 5vh;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 1;
}

.score {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 35vw;
  height: 55vh;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .mole {
  top: 0;
}

button {
    background: #FF5719;
    border: 0;
    width: 30%;
    text-align: center;
    display: block;
    margin: 10vh auto;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2rem;
    border-bottom: 5px solid #03B291;
    cursor: pointer;
    line-height: 2em;
}

.cc {
  width:100%;
  text-align:center;
  color:grey;
  height: 5vh;
}

.cc a {
  color:grey;
}

@media only screen and (max-width: 650px) {
   h1 {
    font-size: 3.5rem;
    line-height:1.5;
    margin-top: 2vh;
  }

  .game {
      width: 80vw;
      height: 57vh;
  }

  button {
    width: 50%;
    margin: 5vh auto;
  }

}






